/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Header styles */
h1,
h2,
h3 {
  color: #333;
}

/* Input field styling */
.birth-year-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Error styling */
.error-border {
  border-color: #ff6666;
}

.error-label {
  color: #ff6666;
  font-size: 0.85em;
  margin-top: 5px;
  margin-left: 5px;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Celebrity card styles */
.celebrity-list {
  margin-top: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Allow cards to wrap in smaller screens */
  gap: 10px;

  width: 50%;
}

.celebrity-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  width: calc(
    33% - 20px
  ); /* Adjust width for a 3-column layout, adjust the 20px as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items for a neater look */
}

.celebrity-card img {
  max-width: 100%; /* Ensure image does not exceed card width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px; /* Optional: Round corners for images */
  margin-bottom: 10px; /* Space between image and text */
}

.celebrity-card a {
  text-decoration: none;
  color: #007bff;
}

.celebrity-card a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .celebrity-card {
    width: calc(50% - 20px); /* 2-column layout on smaller screens */
  }
}

@media (max-width: 480px) {
  .celebrity-card {
    width: 100%; /* 1-column layout for very small screens */
  }
}
